body {
  margin-left: 5vw;
  background-color: #0d3b66;
  background-image: url("photo-debiasi.jpeg");
  background-size: 50vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right center;
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
  color: #FAF0CA;
  width: 45vw;
}

h1,
h2 {
color: #EE964B;
}

li {
  list-style: none;
}
.aboutme {
  color: #F95738;
  text-decoration: none;
}
em {
  color: #F4D35E;
  font-weight: bold;
}
.button {
  background-color: #F4D35E;
  color: #F95738;
  padding: 0.125vw 0.25vw;
  line-height: 3.5vw;
  border-radius: 6px;
  outline-style: solid;
  outline-color: #F95738;
}
